@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700;800&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Oxanium', cursive;
}

body{
   text-align: center;
   background: linear-gradient(to bottom, rgb(98, 172, 232),rgb(117, 176, 225),rgb(159, 196, 226)); 
   min-height: 100vh;
}

main{
    display: inline-block;
    margin-top: 2%;
    padding: 15px;
}

.pokedex{
    width: 100%;
    max-width: 425px;
}

.pokemon_image{
    position: absolute;
    left: 0;
}

